.topbar{
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #262E4F;
}
.topbarwrapper{
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 150px;
}
.topLeft{
    display: flex;
    align-items: center;
}
.menuBar svg{
    color: #fff;
    font-size: 2rem;
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.topRight{
    display: flex;
    align-items: center;
    height: 100%;
}

.topbarIconContainer {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
    height: 100%;
    display: flex;
    align-items: center;
}
.dropdownBar{
    background-color: #192133;
    width: auto;
    margin-top: 0;
    max-height: 0;
    height: auto;
    border-radius: 4px;
    position: absolute;
    overflow: hidden;
    top: 50px;
    right: 0px;
    -webkit-box-shadow: 0 4px 5px 0 rgb(0 0 0 / 22%);
    -o-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.22);
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 22%);
}
.dropdownBar a{
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    cursor: pointer;
    display: block;
    text-transform: none;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
}
.topbarIconContainer:hover .dropdownBar{
    max-height: 1000px;
    z-index: 999;
}
.topAvatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}